<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <!--Head and navigation Content-->
  <head th:replace="fragments/header-main-content :: HeaderContent"></head>
  <body>
    <header class="header--form-page">
      <nav class="container container--70" th:replace="fragments/navigation-app::NavigationApp"></nav>

      <div class="slogan container container--90" >
          <h2 style="padding-left: 400px">
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>

    <!--Footer and Scripts Content-->
    <footer th:replace="fragments/footer :: mainFooterAndScripts"></footer>
  </body>
</html>
