<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <!--Head and navigation Content-->
  <head th:replace="fragments/header-main-content :: HeaderContent"></head>
  <body>
  <header th:replace="fragments/header-main-content :: NavigationContent"></header>
  <!--End - Head and navigation Content-->

  <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em th:text="${sumAllBagsDonated}"></em>
          <h3>Oddanych worków</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em th:text="${donationsNumber}"></em>
          <h3>Przekazanych darów</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="#" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="images/signature.svg" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="images/about-us.jpg" alt="People in circle" /></div>
    </section>

    <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
          Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items">

              <li th:each="institution, varStatus : ${institutionsList}" th:if="${varStatus.odd}">
                  <div class="col">
                    <div class="title" th:text="${institution.name}"></div>
                    <div class="subtitle" th:text="${institution.description}"></div>
                  </div>

                  <div class="col" th:if="${(varStatus.index + 1) < institutionsList.size()}">
                    <div class="title" th:text="${institutionsList.get(varStatus.index + 1).name}"></div>
                    <div class="subtitle" th:text="${institutionsList.get(varStatus.index + 1).description}"></div>
                  </div>

                  <div th:unless="${(varStatus.index + 1) < institutionsList.size()}" style="visibility: hidden;" class="col"></div>
              </li>
        </ul>

      </div>
    </section>

    <!--Footer and Scripts Content-->
    <footer th:replace="fragments/footer :: mainFooterAndScripts"></footer>

  </body>
</html>
